# Ignore venv
venv/
# Ignore Python bytecode files
__pycache__/
*.py[cod]
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore virtual environment directories
.env
# Ignore Python egg files
*.egg
# Ignore distribution files
dist/
# Ignore build directories
build/
# Ignore coverage reports
.coverage
# Ignore logs
*.log
logs/
# Results
results/
copy/